.desenvolvedor {
  color: white;
  font-size: 1.1em;
}

.icons {
  align-items: center;
  display: flex;
  justify-content: center;
}

.icons a {
  padding: 5px 10px;
}


.icon-developer {
  color: white;
  font-size: 1.3em;
}

.icon-developer:hover {
  color: rgba(1, 184, 139, 255);
}
